<div class="container">
  <!-- Title Section -->
  <header class="text-center my-5">
    <h3>{{username}}'s Profile</h3>
  </header>

<!-- Books Section -->
  <section class="books-section profile-form">
        <h3>Books I Reviewed:</h3>
        <div>
          {{#each books as |book|}}
            <div class="row profile-form">
              <a href="/book/{{book.id}}" style="text-decoration: none;" class="col-md-4">
                <img
                  src="{{cover_image}}"
                  alt="Cover of {{title}}"
                  class="img-fluid mb-3 book-cover"
                />
              </a>
              <ul class="col-md-8">
                <h6>Reviews For: {{book.title}}</h6>
                {{#each reviews}}
                  <li>{{review_content}}</li>
                {{/each}}
              </ul>
            </div>
          {{/each}}
        </div>
  </section>

  <!-- User Info Section -->
  <div class="row align-center mb-5 profile-form">
    <div class="col-md-6">
      <section class="user-info text-center my-4">
        <img src="/images/profile-image.png"  style="width: 200px; height: 300px;"/>
      </section>
    </div>

  <!-- Profile Update Section -->
    <div class="col-md-6">
      <section class="update-profile-section my-5">
        <h5 class="text-center">Update Username/Email</h5>
        <form id="update-profile-form" class="mx-auto" style="max-width: 500px;">
          <div>
            <label for="name-input" class="form-label">Name</label>
            <input
              type="text"
              id="name-input"
              class="form-control"
              value="{{username}}"
            /><br />
          </div>
          <div>
            <label for="email-input" class="form-label">Email</label>
            <input
              type="email"
              id="email-input"
              class="form-control"
              value="{{email}}"
            /><br />
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </section>
    </div>
  </div>

  

  <!-- Account Deletion Section -->
  <section class="delete-account-section text-center my-5">
    <button id="delete-account-btn" class="btn btn-danger">Delete Account</button>
  </section>
</div>

<script src="/js/userpage.js"></script>